POSTGRES_DB=shortener_db
POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password

DB_URL=jdbc:postgresql://postgres:5432/shortener_db
DB_USERNAME=your_username
DB_PASSWORD=your_password

REDIS_HOST=redis
REDIS_PORT=6379

KAFKA_BOOTSTRAP_SERVERS=kafka:29092

ANALYTICS_POSTGRES_DB=analytics_db
ANALYTICS_POSTGRES_USER=your_username
ANALYTICS_POSTGRES_PASSWORD=your_password

ANALYTICS_DB_URL=jdbc:postgresql://analytics-postgres:5432/analytics_db
ANALYTICS_DB_USERNAME=your_username
ANALYTICS_DB_PASSWORD=your_password

ANALYTICS_BASE_URL=http://analytics-service:8081

APP_BASE_URL=http://localhost:8080
